@import '../../default_variables';

.ItemDetail {
    background-color: $card-item-background-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .ItemDetailLeft {
        order: 1;
        width: 70%;

        .ItemDetailImage {
            background-color: $card-item-background-color;
        }

        .ItemDetailDescription {
            margin-top: 10vh;
            padding-left: 32px;

            .ItemDetailDescriptionTitle {
                color: $font-color-1;
                font-size: 28px;
            }

            .ItemDetailDescriptionText {
                color: $font-color-2;
                padding: 32px 0;
                margin: 0;
            }
        }
    }

    .ItemDetailRight {
        order: 2;
        width: 30%;

        .ItemDetailInfo {
            font-size: 14px;
            padding-top: 32px;
        }

        .ItemDetailTitle {
            font-size: 24px;
            padding-top: 16px;
        }

        .ItemDetailPrice {
            font-size: 46px;
            padding-top: 32px;
        }
    }
    .ItemDetailButton {
        width: 70%;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        margin: 32px 32px 0 0;
        padding: 10px 0;
        text-align: center;
        background-color: $btn-buy-background-color;
        color: $font-color-4;
    }
}

@media (max-width: 1050px) {
    .ItemDetail {
        flex-flow: row wrap;
        justify-content: flex-start;

        .ItemDetailLeft {
            order: 2;
            width: 100%;

            .ItemDetailImage {
                text-align: center;
            }

            .ItemDetailDescription {
                margin-top: 15px;
                padding: 0 5px;
                text-align: left;

                .ItemDetailDescriptionTitle {
                    color: $font-color-1;
                    font-size: 20px;
                }

                .ItemDetailDescriptionText {
                    color: $font-color-2;
                    padding: 32px 0;
                    margin: 0;
                }
            }
        }

        .ItemDetailRight {
            order: 1;
            width: 100%;
            padding: 5px;

            .ItemDetailInfo {
                font-size: 12px;
                padding: 0;
            }

            .ItemDetailTitle {
                font-size: 16px;
                padding-top: 16px;
            }

            .ItemDetailPrice {
                font-size: 30px;
                padding-top: 16px;
            }
        }
        .ItemDetailButton {
            width: 70%;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            margin: 32px 32px 0 0;
            padding: 10px 0;
            text-align: center;
            background-color: $btn-buy-background-color;
            color: $font-color-4;
        }
    }
}
