@import '../../default_variables';

.ItemsRow {
    background-color: $card-item-background-color;
    border-bottom: thin solid $container-background-color;

    &:first-child {
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    .ItemsRowWrapper {
        cursor: pointer;
        color: $font-color-1;
        padding: 16px 0 16px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .ItemsRowImage {
            background-color: $card-item-background-color;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            padding: 0 16px;
        }

        .ItemsRowGeneralData {
            width: 80%;
            height: 100%;
            padding-top: 25px;
            display: flex;
            flex-direction: column;

            .ItemsRowGeneralDataPrice {
                padding-bottom: 32px;
                font-size: 24px;
                display: flex;
                flex-flow: row nowrap;
                gap: 10px;
            }

            .ItemsRowGeneralDataTitle {
                font-size: 18px;
            }
        }

        .ItemsRowLocation {
            width: 20%;
            padding-top: 25px;
            font-size: 12px;
            color: $font-color-2;
            white-space: nowrap;
        }
    }
}

@media (max-width: $max-width-mobile) {
    .ItemsRow {
        .ItemsRowWrapper {
            padding: 5px 5px 5px 0;
            flex-flow: row wrap;
            justify-content: space-around;

            .ItemsRowImage {
                padding: 0 5px;
                width: 35%;
            }

            .ItemsRowGeneralData {
                padding-top: 15px;
                width: 55%;

                .ItemsRowGeneralDataPrice {
                    padding-bottom: 15px;
                    font-size: 20px;
                }

                .ItemsRowGeneralDataTitle {
                    font-size: 14px;
                }
            }

            .ItemsRowLocation {
                width: 100%;
                padding: 10px;
            }
        }
    }
}
